body {
  background: #e5e5e5;
  scroll-behavior: smooth;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

hr {
  width: 70%;
  border-top: 1px solid;
}

#site {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  background: #fafafa;

  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: black;
  margin-left: 20%;
}

.title {
  font-size: 2.5vw;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.contentBlock {
  margin-bottom: 10%;
}

.text {
  text-align: center;
  margin: 10px;
  line-height: 1.6;
  font-size: 1.3vw;
}

/*navBar*/
.navbar{
  width: 100%;
}

ul {
  width: 60%;
  position: fixed;
  list-style-type: none;
  overflow: hidden;
  background-color: #f0f0f0;
  color: #343d4a;
  z-index: 1;
  top: 0;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

#hjem {
  float: left;
  padding: 3% 2.5% 3% 5%; 
  font-size: 2.5vw;
}

li a {
  display: block;
  color: #343d4a;
  text-align: center;
  padding: 4% 3%;
  text-decoration: none;
  float: right;
  font-size: 1.5vw;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

/*intro*/
#background {
  width: 100%;
  opacity: 0.93;
}

#introBox {
  width: 50%;
  left: 25%;
  top: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  color: black;
}

/*info */

#info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#profilbilde {
  width: 300px;
  min-width:100px;
  border-radius: 5%;
}

/* Referanser */

.referanse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5%;
}

.referanseImg {
  width: 400px;
  min-width:100px;
  border-radius: 5%;
}
.referanseText{
  width: 50%;
}

/* footer */

footer {
  background-color: #f0f0f0;
  display: flex;
  width: 100%;
}

#footerTitle {
  text-align: center;
  margin: 4% 0 4% 5%;
  width: 30%;
  font-size: 2vw;
}

#kontakt {
  margin: 3% 0 0 5%;
  width: 35%;
  font-size: 1.3vw;
  line-height: 1.6;
}

footer img {
  width: 4vw;
}
footer a {
  margin: 3% 5% 0 0;
}
