body {
    background: #E5E5E5;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

hr {
    width: 70%;
    border-top: 1px solid;
}

#site {
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    background: 	#FAFAFA ;

    width: 60%;
    height: 100%;
    left: 20%;
    color: black;
}

.title{
    font-size: 2.5vw;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;

}

.contentBlock{
    position: relative;
    height: 100%;
    margin: 0 0 12.5% 0;
}

.text{
    text-align: center;
    margin: 10px;
    line-height: 1.6;
}

/*navBar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #FAFAFA;
    height: 5%;
    color: #343D4A;
  }

  li{
      display: inline;
  }

  li p {
      float: left;
      margin: 4% 2.5% 0 5%;

      font-size: 2.5vw;
  }
  

  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 5% 3%;
    max-width: 10%;
    text-decoration: none;
    float: right;
    font-size: 1.5vw;  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }

/*intro*/
#background {
    width: 100%;
    opacity: 0.93;
}

#introBox {

    width: 60%;
    top: 50%;
    left: 10%;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    color: black;
}

/*info */

#info{
    height: 45vh;
}

#profilbilde{
float: right;
width: 25%;
margin-right: 5%;
}

#infoText {
    float: left;
    width: 65%;
}
/* Referanser */

.referanse{
    position: relative;
    padding: 7.5%;
}

.referanseImg{
    position: relative;
    width: 50%;
    height: auto;
    float: left;
    margin: 1%;
}

.referanseText{
    text-align: center;
    padding: 1%;
    line-height: 1.3;
}

/* footer */

footer{
    bottom: 0;
    background-color: #F0F0F0;
    height: 14vh;

}

#footerTitle {
    text-align: left;
    margin: 3% 0 0 5%;
    padding: 0;
    width: 30%;
    float: left;
    font-size: 1.5em;
    
}

#kontakt {
    text-align: left;
    margin: 3% 0 0 5%;
    padding: 0;
    width: 30%;
    float: left;
}

footer img {
    margin:2.5% 5% 0 0;
    width: 50px;
    height: auto;
    float: right;
}